:root {
  --color-black-rgb: 0, 0, 0;
  --color-black: #000000;
  --color-white-rgb: 255, 255, 255;
  --color-white: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  border-style: none;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}
